body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(lightpink, #91f1c9);
  height: 100vh;
}
@keyframes myrotle {
  from {
    transform: rotateY(0deg) rotateX(40deg);
  }
  to {
    transform: rotateY(360deg) rotateX(40deg);
  }
}
.bigbox {
  height: 600px;
  width: 600px;
  margin: 100px auto 0;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.bigbox .noall {
  width: 300px;
  height: 300px;
  margin: 0px auto;
  transform-style: preserve-3d;
  position: absolute;
  left: 150px;
  top: 150px;
  animation: myrotle 8s linear 0s infinite;
}
.bigbox .noall .noll {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bigbox .noall .noll.noll-top {
  background-image: url(image/box7.jpg);
  background-size: cover;
  background-position: -100px 0;
  transform: rotateX(270deg) translateZ(-150px);
  transition: all 0.5s;
}
.bigbox .noall .noll.noll-bottom {
  background-image: url(image/box8.jpg);
  background-size: cover;
  background-position: -200px 0;
  transform: rotateX(270deg) translateZ(150px);
  transition: all 0.5s;
}
.bigbox .noall .noll.noll-left {
  background-image: url(image/box9.jpg);
  background-size: cover;
  background-position: -80px 0;
  transform: rotateY(-90deg) translateZ(150px);
  transition: all 0.5s;
}
.bigbox .noall .noll.noll-right {
  background-image: url(image/box10.jpg);
  background-size: cover;
  background-position: -50px 0;
  transform: rotateY(90deg) translateZ(150px);
  transition: all 0.5s;
}
.bigbox .noall .noll.noll-front {
  background-image: url(image/box11.jpg);
  background-size: cover;
  background-position: -100px 0;
  transform: translateZ(150px);
  transition: all 0.5s;
}
.bigbox .noall .noll.noll-back {
  background-image: url(image/box12.jpg);
  background-size: cover;
  background-position: -100px 0;
  transform: rotateY(180deg) translateZ(150px);
  transition: all 0.5s;
}
.bigbox .noall:hover .noll-top {
  opacity: 0.7;
  transform: rotateX(270deg) translateZ(-250px);
}
.bigbox .noall:hover .noll-bottom {
  opacity: 0.7;
  transform: rotateX(270deg) translateZ(250px);
}
.bigbox .noall:hover .noll-left {
  opacity: 0.7;
  transform: rotateY(-90deg) translateZ(250px);
}
.bigbox .noall:hover .noll-right {
  opacity: 0.7;
  transform: rotateY(90deg) translateZ(250px);
}
.bigbox .noall:hover .noll-front {
  opacity: 0.7;
  transform: translateZ(250px);
}
.bigbox .noall:hover .noll-back {
  opacity: 0.7;
  transform: rotateY(180deg) translateZ(250px);
}
.bigbox .cube {
  width: 200px;
  height: 200px;
  margin: 0px auto;
  transform-style: preserve-3d;
  position: absolute;
  top: 200px;
  left: 200px;
  animation: myrotle 8s linear 0s infinite;
}
.bigbox .cube .side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bigbox .cube .side.side-top {
  background-image: url(image/box1.jpg);
  background-size: cover;
  background-position: center;
  transform: rotateX(270deg) translateZ(-100px);
}
.bigbox .cube .side.side-bottom {
  background-image: url(image/box2.jpg);
  background-size: cover;
  background-position: 0px center;
  transform: rotateX(270deg) translateZ(100px);
}
.bigbox .cube .side.side-left {
  background-image: url(image/box3.jpg);
  background-size: cover;
  background-position: center;
  transform: rotateY(-90deg) translateZ(100px);
}
.bigbox .cube .side.side-right {
  background-image: url(image/box4.jpg);
  background-size: cover;
  background-position: center;
  transform: rotateY(90deg) translateZ(100px);
}
.bigbox .cube .side.side-front {
  background-image: url(image/box5.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(100px);
}
.bigbox .cube .side.side-back {
  background-image: url(image/box6.jpg);
  background-size: cover;
  background-position: -30px center;
  transform: rotateY(180deg) translateZ(100px);
}
/*# sourceMappingURL=./box.css.map */